// crayola
$palette: (
  primary: #d57e00,
  secondary: #1565c0,
  tertiary: #d5354e,
  quaternary: #222222, 
);

// sizing 
$xlarge-space: 60px;
$large-space: 40px;
$medium-space: 20px;
$small-space: 5px;

// slice & dice to return a friendly hex val
@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
}

body {
  background: #e5c466;
  color: #282828;
}

// general dotted line class 
%dotted {
  border-style: dotted;
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  // border-bottom only  
  border-width: 0 0 ($small-space * 2) 0; 
  padding: $medium-space;
  // each defined name, with their colour, in the palette map
  @each $crayola, $colour in $palette {
    &.#{$crayola} {
      border-image-source:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' viewBox='0 0 25 25'%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='2.5' cy='2.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='2.5' cy='22.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='2.5' cy='12.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='12.5' cy='2.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='12.5' cy='22.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='22.5' cy='2.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='22.5' cy='22.5' r='2.5'/%3E %3Ccircle style='fill:#{url-friendly-colour($colour)}' cx='22.5' cy='12.5' r='2.5'/%3E %3C/svg%3E ");
    }
  }
}

// general body styles
.wrapper {
  max-width: 600px;
  margin: $xlarge-space auto;
  .borderHold {
    background: rgba(255, 255, 255, 0.2);
    padding: $medium-space;
    position: relative;
    display: inline-block;
    width: 100%;
    .dotted {
      @extend %dotted;
    }
    // for any with a left, or right - add a pseudo with basic styling
    &.left, 
    &.right {
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        display: inline-block;
      }
    }
    // for the left border
    &.left {
      // Apply the style to a pseudo left
       &:before {
        left: -($small-space * 3);
        // border-left only  // make them smaller 
        border-width: 0 0 0 ($small-space * 1); 
        // bring in the bulk of the dotted border
        @extend %dotted;
      }
    }
    // for the right border
    &.right {
      // Apply the style to a pseudo right
      &:after {
        right: -($small-space * 3);
        // border-right only  // make them bigger
        border-width: 0 ($small-space * 4) 0 0; 
        // bring in the bulk of the dotted border
        @extend %dotted;
      }
    }
  }
}